<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Ddd.App.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Ddd.App.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <applicationSettings>
        <Ddd.App.Properties.Settings>
            <setting name="DefaultInterpolationN" serializeAs="String">
                <value>40</value>
            </setting>
        </Ddd.App.Properties.Settings>
    </applicationSettings>
    <userSettings>
        <Ddd.App.Properties.Settings>
            <setting name="DefaultRadius" serializeAs="String">
                <value>40</value>
            </setting>
            <setting name="DefaultLength" serializeAs="String">
                <value>200</value>
            </setting>
            <setting name="DefaultWidth" serializeAs="String">
                <value>200</value>
            </setting>
            <setting name="DefaultHeight" serializeAs="String">
                <value>200</value>
            </setting>
        </Ddd.App.Properties.Settings>
    </userSettings>
</configuration>